


body{
  margin:0;
  padding: 0;
}
.header{
  display:flex;
  justify-content: space-between;
 align-items: center;
 padding: 0.5%;
 margin-left: 14%;
}
.content{
 margin-left: 5px;
}

.cityContent{
  border:0.2px solid black;
  width:30%;
  height:500px;
  margin-left:20%;
  border-radius:6px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.cityContentHead{
display:flex;
justify-content: space-between;
align-items: center;
margin: 10px;
margin-bottom: 0;
}
.cityMain{
  padding:10px;
  padding-top: 0;
}
body{
  margin:0;
  padding:0;
}
.sider{
  margin-top:0;
  height:100vh;
  width:400%;
  display: flex;
  flex-direction: column;
  
  background-color: #633ea5;;
  text-align: center;
  overflow-y: auto;
}
.active-container{
align-items: center;
  background-color:#FFCE5E;
  color: #633ea5;
  height:40px;
  font-weight: 600;
  
 
}
.deactive-container{
  color: orange;
  height:40px;
  font-weight: 600;
 
}
.custom-lay{
  float:left;
}
.ctybtn{
  background-color: #633ea5;;
  color:white;
  border:none;
  border-radius:5px;
  height:40px;
  padding: 10px;

}
.homeContent{
  margin-left:15%;
 height:calc(100vh-10vh);
}
.model-header{
  background-color: #FFCE5E;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  
  height:60px;
  color:black;
  border-radius:12px 12px 0 0;
 

}


.model-wrapper{
  
  
 width:100%;
  height:598px;
  background: rgba(0, 0, 0, 0.3);
 z-index: 9998;
 
}
.activeHeader{
  background: rgba(0, 0, 0, 0.3);
}
.into{
 
  align-items: center;
  justify-content: center;
 
}


.model-content{
  width:30%;
  margin-left:30%;
  margin-top: 80px;
  border-radius: 5px;
  border:none;
 background: white;
 border-radius: 10px;

}
.city-content{
  text-align: center;
 max-height:280px;
  overflow-y: scroll;
 cursor: pointer;
 overflow: hidden;
}
.search{
  align-items: center;
 align-self: center;
 margin-left:15%;
 margin-top: 5%;
  width:70%;
  
  height:40px;
}
.into{
  margin-right: 0;
}
.cityNameContent{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
  border:1px solid #e5e5e5;
border-radius:4px;
  margin-top: 0;
margin:3% 1.5%;
padding: 5px;
  font-weight: 600;
  height:40px;
}
*, *::before, *::after {
  box-sizing: border-box;
}

@media screen and (max-width: 500px){
.sider {
    width: 100%;
    height: 76px;
    background: #633ea5;
    display: flex;
    flex-direction: row;
}
}
.para{
  margin-bottom: 0;
  
}